#/usr/bin/env python3

BOTTOKEN = '123456789:BBDKsE24XXzw2Er9XU2pi61T1_OeLN7MiHw'
AD = "ldap://activedirectory.domain.tld"
BASEDN = 'DC=example,DC=org'
BINDDN = 'CN=BindingUser,OU=Service Accounts,dc=example,dc=org'
BINDPW = 'BindPassword'
